[package]
name = "snacks-awesome-shortener"
version = "0.1.0"
edition = "2021"

[dependencies]
femme = "2.2.1"
serde = "1.0.228"
serde_json = "1.0.145"
tide = "0.16.0"
tokio = { version = "1.48.0", features = ["full"] }

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]
