services:
  nats:
    image: nats:latest
    container_name: nats
    ports:
      - "4222:4222"
    restart: unless-stopped
    command:
      - "-js"
      - "-sd"
      - "/data/nats"

  nats-ui:
    image: ghcr.io/nats-nui/nui:latest
    container_name: nats-ui
    ports:
      - "3333:31311"
    restart: unless-stopped
    volumes:
      - nui-data:/db
    depends_on:
      - nats

  api-gateway:
    build:
      context: .
      args:
        SERVICE_NAME: api_gateway
      dockerfile: Dockerfile
    restart: always
    environment:
      RUST_LOG: INFO
      NATS_URL: nats:4222
      REQUESTS_MAX_MESSAGES: 1000
      SAS_IP: 0.0.0.0
      SAS_PORT: 8080
    depends_on:
      - nats
      - data-persistor
      - shorts-service

  data-persistor:
    build:
      context: .
      args:
        SERVICE_NAME: data_persistor
      dockerfile: Dockerfile
    restart: always
    environment:
      RUST_LOG: INFO
      NATS_URL: nats:4222
      REQUESTS_MAX_MESSAGES: 1000
    depends_on:
      - nats
      - shorts-service

#  health-service:
#    build:
#      context: .
#      args:
#        SERVICE_NAME: health_service
#      dockerfile: Dockerfile
#    restart: always
#    environment:
#      RUST_LOG: INFO
#      NATS_URL: nats:4222
#      REQUESTS_MAX_MESSAGES: 1000
#    depends_on:
#      - nats
#      - api-gateway
#      - data-persistor
#      - shorts-service

  shorts-service:
    build:
      context: .
      args:
        SERVICE_NAME: shorts_service
      dockerfile: Dockerfile
    restart: always
    environment:
      RUST_LOG: INFO
      NATS_URL: nats:4222
      REQUESTS_MAX_MESSAGES: 1000
    depends_on:
      - nats

volumes:
  nui-data: