services:
  sas:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sas
    ports:
      - "8080:8080"
    restart: always
    environment:
      SAS_IP: 0.0.0.0
      SAS_PORT: 8080
      REDIS_URL: redis://valkey:6379
    networks:
      - shortener

  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    ports:
      - "6379:6379"
    restart: always
    networks:
      - shortener

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    restart: always
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongopwd
    networks:
      - shortener

  compass-web:
    image: haohanyang/compass-web
    container_name: compass-web
    ports:
      - "7080:8080"
    restart: always
    environment:
      CW_MONGO_URI: mongodb://mongodb:27017
    networks:
      - shortener

networks:
  shortener:
    driver: bridge