services:
  sas:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sas
    ports:
      - "8080:8080"
    restart: always
    environment:
      SAS_IP: 0.0.0.0
      SAS_PORT: 8080
      REDIS_URL: redis://valkey01:6379
      MONGO_URL: mongodb://shorts_app:shorts_pwd@mongodb:27017/?directConnection=true&serverSelectionTimeoutMS=2000&authSource=shorts
      RUST_LOG: debug
    networks:
      - shortener

  valkey01:
    image: bitnami/valkey:latest
    container_name: valkey01
    ports:
      - "6379:6379"
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: yes
    networks:
      - shortener

  valkey02:
    image: bitnami/valkey:latest
    container_name: valkey02
    ports:
      - "6380:6380"
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: yes
      VALKEY_PORT_NUMBER: 6380
      VALKEY_PRIMARY_HOST: valkey01
      VALKEY_REPLICATION_MODE: replica
    networks:
      - shortener

  valkey03:
    image: bitnami/valkey:latest
    container_name: valkey03
    ports:
      - "6381:6381"
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: yes
      VALKEY_PORT_NUMBER: 6381
      VALKEY_PRIMARY_HOST: valkey01
      VALKEY_REPLICATION_MODE: replica
    networks:
      - shortener

  sentinel01:
    image: bitnami/valkey-sentinel:latest
    container_name: sentinel01
    ports:
      - "26379:26379"
    restart: always
    environment:
      VALKEY_PRIMARY_HOST: valkey01
      VALKEY_PRIMARY_SET: sas-valkey
      VALKEY_SENTINEL_ANNOUNCE_HOSTNAMES: yes
    networks:
      - shortener

  sentinel02:
    image: bitnami/valkey-sentinel:latest
    container_name: sentinel02
    ports:
      - "26380:26379"
    restart: always
    environment:
      VALKEY_PRIMARY_HOST: valkey01
      VALKEY_PRIMARY_SET: sas-valkey
      VALKEY_SENTINEL_ANNOUNCE_HOSTNAMES: yes
    networks:
      - shortener

  sentinel03:
    image: bitnami/valkey-sentinel:latest
    container_name: sentinel03
    ports:
      - "26381:26379"
    restart: always
    environment:
      VALKEY_PRIMARY_HOST: valkey01
      VALKEY_PRIMARY_SET: sas-valkey
      VALKEY_SENTINEL_ANNOUNCE_HOSTNAMES: yes
    networks:
      - shortener

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    restart: always
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongopwd
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d
    networks:
      - shortener

  compass-web:
    image: haohanyang/compass-web
    container_name: compass-web
    ports:
      - "7080:8080"
    restart: always
    environment:
      CW_MONGO_URI: mongodb://compass_user:compass_pwd@mongodb:27017/?authSource=shorts
    networks:
      - shortener

networks:
  shortener:
    driver: bridge
